{% extends 'base.html' %}

{% block content %}

    <section class="desktop-top-section">
        {% for artwork in artwork_list|slice:"5" %}
            <div class="col-sm-2">
                <a href="{{artwork.largeImage.url}}" data-lightbox="lightbox" data-title="{{artwork.name}}">
                    <img desktop-src="{{artwork.desktopImage.url}}">
                </a>
            </div>
        {% endfor %}
    </section>

    <header>
      <h1><span>ŞULE<span></h1>
    </header>

    <p>Inspired by the likes of Matisse, Monet and Pissarro, Şule expresses her view of the world by presenting just a hint of tangible substance, allowing your imagination to fill in the gaps. The art is as much yours as it is hers.</p>

    <section class="desktop-bottom-section">
        {% for artwork in artwork_list|slice:"5:10" %}
            <div class="col-sm-2">
                <a href="{{artwork.largeImage.url}}" data-lightbox="lightbox" data-title="{{artwork.name}}">
                    <img desktop-src="{{artwork.desktopImage.url}}">
                </a>
            </div>
        {% endfor %}
    </section>

    <section class="mobile-section">
        {% for artwork in artwork_list|slice:":10" %}
            <a href="{{artwork.largeImage.url}}">
                <img mobile-src="{{artwork.mobileImage.url}}">
            </a>
        {% endfor %}
    </section>

    <footer>
      <ul class="list-unstyled list-inline">
      <li><a href="http://www.ebay.co.uk/usr/sulealatart" target="_blank">Buy</a></li>
        <li><a href="https://www.instagram.com/sulealatart/" target="_blank">Instagram</a></li>
        <li><a href="https://www.facebook.com/sulealatart" target="_blank">Facebook</a></li>
        <li><a href="mailto:sulealat@gmail.com">Email Şule</a></li>
      </ul>
    </footer>

{% endblock %}
